@font-face {
  font-family: "NotoSansKR-Black";
  src: url("./assets/fonts/NotoSansKR-Black.otf");
}
@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("./assets/fonts/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: "NotoSansKR-Light";
  src: url("./assets/fonts/NotoSansKR-Light.otf");
}
@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("./assets/fonts/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("./assets/fonts/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "NotoSansKR-Thin";
  src: url("./assets/fonts/NotoSansKR-Thin.otf");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
